asgiref==3.10.0
charset-normalizer==3.4.3
colorama==0.4.6
diff-match-patch==20241021
Django==5.2.7
django-filter==25.2
django-import-export==4.3.10
et_xmlfile==2.0.0
numpy==2.3.4
openpyxl==3.1.5
pandas==2.3.3
pillow==11.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
qrcode==8.2
reportlab==4.4.4
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
xlrd==2.0.2
